<div class="container">
  <div class="row">

    <div class="col-3">
      <h3>Organizations</h3>
      <ul *ngFor="let organization of organizationList">
        <li>{{organization.organizationName}}</li>
      </ul>
    </div>

    <div class="col-3">
      <h3>user</h3>
    <app-userslist></app-userslist>
    </div>

    <div class="col-2">
      <h3>New</h3>
      <div *ngFor="let new of taskstatus?.New">
        <li>{{new?.tasktitle}}</li>
  <button class="btn btn-success" (click)="edittask(new.taskId)">edit</button>
      </div>
      <div>
        <button class="btn btn-success" (click)="addTask()">Add Task</button>
      </div>
    </div>

    <div class="col-2">
<h3>Inprogress</h3>
<div *ngFor="let inprogress of taskstatus?.Inprogress">
   <li>{{inprogress?.tasktitle}}</li>
  <button class="btn btn-success" (click)="edittask(inprogress.taskId)">edit</button>
</div>
    </div>

    <div class="col-2">
<h3>Done</h3>
<div *ngFor="let done of taskstatus?.Done">
  <li>{{done?.tasktitle}}</li>
  <button class="btn btn-success" (click)="edittask(done.taskId)">edit</button>
</div>
    </div>

  </div>
</div>
